body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 50px 25%;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

a#quickTaskLink {
  display: block;
  text-align: center;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

a#quickTaskLink:hover {
  background-color: #218838;
}

.filterCode {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.filterCode code {
  white-space: pre-wrap;
  /* Allows line breaks and preserves whitespace */
}

button.copy {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button.copy:hover {
  background-color: #45a049;
}